* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to top, #008b8b 0%, rgba(0, 0, 0, .7) 100%);
}
main, .second-buttons {
    width: 50vw;
    height: 50vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-button {
    z-index: 10;
}
button {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 30px;
    border: 2px solid rgba(0, 0, 0, .8);
    cursor: pointer;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
}
button:hover {
    width: 54px;
    height: 54px;
    font-size: 34px;
    background: black;
    color: white;
    border: 2px solid #fff;
}

.second-buttons {
    position: absolute;
}
.second-buttons button {
    font-size: 20px;
    width: 40px;
    height: 40px;
    transform: scale(0);
    transition: margin 500ms ease-in-out, transform 500ms ease-in-out;
    padding-top: 2px;
}
.second-buttons button:hover {
    width: 44px;
    height: 44px;
    font-size: 24px;
}

.second-buttons button a {
    color: black;
}
.second-buttons button:hover a {
    color: white;
}